<nav class="navbar navbar-expand-lg p-3 navbar-light font-weight-bold fixed-top bg-white">
	<div class="container">
		<a href="{{@blog.url}}" class="navbar-brand">
			{{!-- Check if the blog has a logo image --}}
			{{#if @blog.logo}}
			<img src="{{img_url @blog.logo absolute='true'}}" alt="{{@blog.title}}" class="nav-logo">
			{{else}}
			{{@blog.title}}
			{{/if}}
		</a>
		<button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mainnav">
			<ul class="navbar-nav mr-auto">
				{{#foreach navigation}}
				<li class="nav-item {{#if current}}active{{/if}}">
					<a class="nav-link" href="{{url absolute='true'}}">{{label}}</a>
				</li>
				{{/foreach}}
			</ul>
		</div>
	</div>
</nav>