{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Start accessing the author variables --}}
{{#author}}

{{!-- Start the head section --}}
<section id="tag-section" class="head-section text-center">
	<img class="head-section-profile shadow" src="{{profile_image}}" alt="{{name}}">
	<h2 class="head-section-title">{{name}}</h2>
	<p class="head-section-text">{{bio}}</p>
	<div class="share-buttons">
		{{#if twitter}}
		<a href="{{twitter_url}}" class="btn btn-primary text-white" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
		{{/if}}
		{{#if facebook}}
		<a href="{{facebook_url}}" class="btn btn-primary text-white" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>
		{{/if}}
		{{#if website}}
		<a href="{{website}}" class="btn btn-primary text-white" target="_blank" rel="noopener"><i class="fas fa-globe-asia"></i></a>
		{{/if}}
	</div>
</section>

{{!-- Get the posts given in package.json from Ghost API form the following author --}}
{{#get "posts" limit=@config.posts_per_page include="tags,authors" filter="primary_author:{{slug}}"}}

<main role="main" id="posts-section" class="posts-section bg-light">
	<div class="posts-container">
		{{!-- Loop through each blog post --}}
		{{#foreach posts}}
			{{!-- Use our template to format the recived data --}}
			{{> "posts-list"}}
		{{/foreach}}
	</div>
</main>

{{!-- This tag outputs pagination section --}}
{{pagination}}

{{!-- Finish accessing the posts by get helper --}}
{{/get}}

{{!-- Finish accessing the author variables --}}
{{/author}}

{{!-- This tag will output the subscribe form, if enabled --}}
{{> "subscribe-section"}}

{{!-- This tag will output the footer --}}
{{> "footer"}}

{{!-- This tag will output the required JavaScripts for all pages --}}
{{> "inject-js"}}

{{!-- Lazy loading images, will be only done on the index page, author page and tag page --}}
{{!-- All other pages will load images normally --}}
{{!-- Lazy loading configuration --}}
<script type="text/javascript" src="{{asset 'js/jquery.lazy.min.js'}}"></script>
<script type="text/javascript">
	$(function() {
		$('.lazy').lazy({
			effect: "fadeIn",
			effectTime: 300,
			threshold: 0
		});
	});
</script>