{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Start accessing the author variables --}}
{{#author}}

{{!-- Start the head section --}}
<section id="tag-section" class="head-section text-center" data-aos="fade">
	{{#if profile_image}}
	<img class="head-section-profile shadow" src="{{profile_image}}" alt="{{name}}">
	{{/if}}
	<h2 class="head-section-title">{{name}}</h2>
	{{#if location}}
	<p class="head-section-location"><i class="fas fa-map-marker-alt"></i> {{location}}</p>
	{{/if}}
	<p class="head-section-text"><small>{{bio}}</small></p>
	<div class="share-buttons">
		{{#if twitter}}
		<a href="{{twitter_url}}" class="btn btn-primary text-white" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
		{{/if}}
		{{#if facebook}}
		<a href="{{facebook_url}}" class="btn btn-primary text-white" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>
		{{/if}}
		{{#if website}}
		<a href="{{website}}" class="btn btn-primary text-white" target="_blank" rel="noopener"><i class="fas fa-globe-asia"></i></a>
		{{/if}}
	</div>
</section>

{{!-- Finish accessing the author variables --}}
{{/author}}

<main role="main" id="posts-section" class="posts-section bg-light" data-aos="fade">
	<div class="posts-container">
		{{!-- Loop through each blog post --}}
		{{#foreach posts}}
			{{!-- Use our template to format the received data --}}
			{{> "article"}}
		{{/foreach}}
	</div>

    {{!-- This tag outputs pagination section --}}
    {{pagination}}
</main>