<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{!-- Document Settings --}}
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="True">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{{!-- Base Meta --}}
	<title>{{meta_title}}</title>

	{{!-- Styles, Fonts and Icons --}}
	<link rel="stylesheet" href="{{asset 'css/aakari.css'}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Poppins:400,500,600,700">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

	{{!-- This tag outputs SEO meta structured data and other important settings --}}
    {{ghost_head}}
</head>
<body>
	<div id="header" class="shadow">
        {{!-- This tag will output the navigation bar --}}
        {{navigation}}

        {{!-- This tag will output the topics bar --}}
        {{> "topics-bar"}}
    </div>

	{{!-- This tag will be replaced by the actual content of the page --}}
	{{{body}}}

    <script src="{{asset 'js/aakari.js'}}"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
	{{ghost_foot}}
</body>
</html>