{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Start accessing the tag variables --}}
{{#tag}}

{{!-- Start the head section --}}
<section id="tag-section" class="head-section text-center" data-aos="fade">
	<h2 class="head-section-title">{{name}}</h2>
	{{#if description}}
	<p class="head-section-text">{{description}}</p>
	{{else}}
	<p class="head-section-text">A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
	{{/if}}
</section>

{{!-- Finish accessing the tag variables --}}
{{/tag}}

<main role="main" id="posts-section" class="posts-section bg-light" data-aos="fade">
	<div class="posts-container">
		{{!-- Loop through each blog post --}}
		{{#foreach posts limit=@config.posts_per_page}}
			{{!-- Use our template to format the received data --}}
			{{> "article"}}
		{{/foreach}}
		{{!-- This tag outputs pagination section --}}
		{{pagination}}
	</div>
</main>

{{!-- This tag will output the footer --}}
{{> "footer"}}