{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Start accessing the tag variables --}}
{{#tag}}

{{!-- Start the head section --}}
<section id="tag-section" class="head-section text-center">
	<h2 class="head-section-title">{{name}}</h2>
	{{#if description}}
	<p class="head-section-text">{{description}}</p>
	{{else}}
	<p class="head-section-text">A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
	{{/if}}
</section>

{{!-- Get the posts given in package.json from Ghost API from the following tag --}}
<main role="main" id="posts-section" class="posts-section bg-light">
	<div class="posts-container">
		{{#get "posts" limit=@config.posts_per_page include="tags,authors" filter="primary_tag:{{slug}}"}}
		{{!-- Loop through each blog post --}}
		{{#foreach posts}}
			{{!-- Use our template to format the recived data --}}
			{{> "posts-list"}}
		{{/foreach}}
		{{/get}}
	</div>
</main>

{{!-- Finish accessing the tag variables --}}
{{/tag}}

{{!-- This tag will output the subscribe form, if enabled --}}
{{> "subscribe-section"}}

{{!-- This tag will output the footer --}}
{{> "footer"}}

{{!-- This tag will output the required JavaScripts for all pages --}}
{{> "inject-js"}}

{{!-- Lazy loading images, will be only done on the index page, author page and tag page --}}
{{!-- All other pages will load images normally --}}
{{!-- Lazy loading configuration --}}
<script type="text/javascript" src="{{asset 'js/jquery.lazy.min.js'}}"></script>
<script type="text/javascript">
	$(function() {
		$('.lazy').lazy({
			effect: "fadeIn",
			effectTime: 300,
			threshold: 0
		});
	});
</script>